//// colors
//$primary-color: #2F2E50;
//$primary-lighter-color: lighten($primary-color, 10%);
//$primary-very-light-color: lighten($primary-color, 60%);
//$primary-darker-color: darken($primary-color, 20%);


// colors
//$primary-color: #666;
$primary-color: #666666a1;
$primary-lighter-color: lighten($primary-color, 10%);
$primary-very-light-color: lighten($primary-color, 60%);
$primary-darker-color: darken($primary-color, 20%);

//fonts
$card-title-font-weight: bold;
