<div style="text-align: center">
</div>
<div mat-dialog-content>
    <p style="margin-top: 40px;">{{message | translate}}</p>
</div>
<mat-dialog-actions class="centered-buttons">
    <button mat-raised-button color="primary" class="default-color-btn-c" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText | translate}}</button>
    <button mat-raised-button color="warn" class="default-cancel-btn-c" mat-dialog-close tabindex="-1">{{cancelButtonText | translate}}</button>
</mat-dialog-actions>
